<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="/read.css">
    <script src="/delete.js"></script>
    <title>CMS | Delete</title>
</head>

<body>
    <div class="dashboard">
        <header>
            <p id="main-header">Cloud Storage Monitoring</p>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                      <a href="#">
                    </li>
                    <li class="nav-item">
                      <a href="/upload">Upload</a>
                    </li>
                    <li class="nav-item">
                      <a href="/list">Read</a>
                    </li>
                    <li class="nav-item">
                        <a href="/delete">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a href="/monitor">Monitor</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button class="btn-logout btn-primary" type="submit">Log Out</button>
                          </form>   
                    </li>
                  </ul>
            </nav>      
        </header>
        <main>
            <table>
                <tr>
                    <th>Sl No</th>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Frequency</th>
                    <th>Priority</th>
                    <th>Delete</th>
                </tr>
                <% for(var i=0; i<file.length; i++) {%>
                    <tr>
                    <% let data = ""; let priority = file[i].priority.toUpperCase()%>
                      <td><%= i+1 %></td>
                      <td><%= file[i].fileName %></td>
                      <td><%= file[i].fileSize %>B</td>
                      <td><%= file[i].mimetype %></td>
                      <% if(priority==="NORMAL") { %>
                        <td><%= file[i].ranking %></td>
                      <% } else { %>
                        <td>NA</td>
                      <% } %>
                      <td><%= file[i].priority.toUpperCase() %></td>
                      <td><button id="delete" onclick="deleteFile(`<%= file[i].fileKey %>`,`<%= file[i]._id %>`)">Delete</button></td>
                    </tr>
                 <% } %>
            </table>
        </main>
    </div>
</body>

</html>